In [1]:
# Import library
import pandas as pd
import requests
from bs4 import BeautifulSoup

### Halaman 1

In [2]:
keyword = "ppkm"
url = "https://turnbackhoax.id/?s={}".format(keyword)

In [3]:
# Request URL
req = requests.get(url)


soup = BeautifulSoup(req.text, "html.parser")

# Memanggil judul artikel paling terluar
content = soup.findAll("div", "mh-loop-content mh-clearfix")

# Menampung hasil dari scraping data
data = []

for scraping in content:
    text = scraping.find("h3", "entry-title mh-loop-title").text.strip().split("\n")
    link = scraping.find("a", {"rel":"bookmark"})["href"]
    
    data.append([text, link])

In [4]:
df1 = pd.DataFrame(data)
df1.head()

,0,1
0,[[SALAH] PPKM diperpanjang Bansos dihentikan],https://turnbackhoax.id/2021/09/26/salah-ppkm-...
1,[[SALAH] “PPKM DILANJUTKAN SAMPAI HARI KIAMAT”],https://turnbackhoax.id/2021/08/19/salah-ppkm-...
2,[[SALAH] Bantuan PPKM Rp1 Juta Bagi Pemilik Se...,https://turnbackhoax.id/2021/07/30/salah-bantu...
3,[[SALAH] “KITA BUKAN BODOH TAPI DIBODOHKAN KIT...,https://turnbackhoax.id/2021/07/29/salah-kita-...
4,[[SALAH] Mata Pengemudi ditusuk hingga Buta ol...,https://turnbackhoax.id/2021/07/22/salah-mata-...

In [5]:
# Mengganti nama kolom
df1.rename(columns={0: "Text", 1:"URL"}, inplace=True)
df1.tail()

,Text,URL
15,[[SALAH] Seluruh Objek Wisata di Kabupaten Pan...,https://turnbackhoax.id/2021/08/09/salah-selur...
16,[[SALAH] Tautan Pendaftaran Bantuan Sosial Seb...,https://turnbackhoax.id/2021/08/07/salah-tauta...
17,[[SALAH] Link Pengecekan Penerima Bansos denga...,https://turnbackhoax.id/2021/08/05/salah-link-...
18,"[[SALAH] Shopee, Grab dan Gojek Dukung Aksi Na...",https://turnbackhoax.id/2021/07/31/salah-shope...
19,[[SALAH] Video Kericuhan Terminal kota Lampung],https://turnbackhoax.id/2021/07/29/salah-video...

### Halaman 2

In [6]:
keyword = "ppkm"
url = "https://turnbackhoax.id/page/2/?s={}".format(keyword)

In [7]:
# Request URL
req = requests.get(url)


soup = BeautifulSoup(req.text, "html.parser")

# Memanggil judul artikel paling terluar
content = soup.findAll("div", "mh-loop-content mh-clearfix")

# Membuat list kosong untuk menampung hasil dari scraping data
data = []

for scraping in content:
    text = scraping.find("h3", "entry-title mh-loop-title").text.strip().split("\n")
    link = scraping.find("a", {"rel":"bookmark"})["href"]
    
    # Memasukkan hasil scraping ke dalam list kosong
    data.append([text, link])

In [8]:
df2 = pd.DataFrame(data)
df2.head()

,0,1
0,[[SALAH] Driver Grab Meminta Jokowi untuk Turun],https://turnbackhoax.id/2021/07/28/salah-drive...
1,[[SALAH] Video “Imam yg menyuruh rapatkan shaf...,https://turnbackhoax.id/2021/07/26/salah-video...
2,[[SALAH] Video “PESTA MIRAS TKA CINA DI MASA P...,https://turnbackhoax.id/2021/07/25/salah-video...
3,[[SALAH] Video Pasar Jagasatru Cirebon Ricuh],https://turnbackhoax.id/2021/07/23/salah-video...
4,[[SALAH] “Pemerintah Resmi Izinkan Sholat Idul...,https://turnbackhoax.id/2021/07/22/salah-pemer...

In [9]:
# Mengganti nama kolom
df2.rename(columns={0: "Text", 1:"URL"}, inplace=True)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Text    20 non-null     object
 1   URL     20 non-null     object
dtypes: object(2)
memory usage: 448.0+ bytes

### Halaman 3

In [10]:
keyword = "ppkm"
url = "https://turnbackhoax.id/page/3/?s={}".format(keyword)

In [11]:
# Request URL
req = requests.get(url)


soup = BeautifulSoup(req.text, "html.parser")

# Memanggil judul artikel paling terluar
content = soup.findAll("div", "mh-loop-content mh-clearfix")

# Membuat list kosong untuk menampung hasil dari scraping data
data = []

for scraping in content:
    text = scraping.find("h3", "entry-title mh-loop-title").text.strip().split("\n")
    link = scraping.find("a", {"rel":"bookmark"})["href"]
    
    # Memasukkan hasil scraping ke dalam list kosong
    data.append([text, link])

In [12]:
df3 = pd.DataFrame(data)
df3.head()

,0,1
0,[Kompilasi Post Periksa Fakta MAFINDO Berkaita...,https://turnbackhoax.id/2020/02/06/kompilasi-p...
1,[[SALAH] “Arief Budiman : Saya Siap Di Kutuk M...,https://turnbackhoax.id/2020/01/13/salah-arief...

In [13]:
# Mengganti nama kolom
df3.rename(columns={0: "Text", 1:"URL"}, inplace=True)
df3.head()

,Text,URL
0,[Kompilasi Post Periksa Fakta MAFINDO Berkaita...,https://turnbackhoax.id/2020/02/06/kompilasi-p...
1,[[SALAH] “Arief Budiman : Saya Siap Di Kutuk M...,https://turnbackhoax.id/2020/01/13/salah-arief...

### Menggabungkan Ketiga DataFrame Menjadi 1

In [14]:
# Membuat DataFrame baru untuk menampung ketiga DataFrame hasil scraping
data_scrap = [df1, df2, df3]

# Menggabungkan DataFrame
data_scraping = pd.concat(data_scrap)

data_scraping.head()

,Text,URL
0,[[SALAH] PPKM diperpanjang Bansos dihentikan],https://turnbackhoax.id/2021/09/26/salah-ppkm-...
1,[[SALAH] “PPKM DILANJUTKAN SAMPAI HARI KIAMAT”],https://turnbackhoax.id/2021/08/19/salah-ppkm-...
2,[[SALAH] Bantuan PPKM Rp1 Juta Bagi Pemilik Se...,https://turnbackhoax.id/2021/07/30/salah-bantu...
3,[[SALAH] “KITA BUKAN BODOH TAPI DIBODOHKAN KIT...,https://turnbackhoax.id/2021/07/29/salah-kita-...
4,[[SALAH] Mata Pengemudi ditusuk hingga Buta ol...,https://turnbackhoax.id/2021/07/22/salah-mata-...

In [15]:
data_scraping.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Text    42 non-null     object
 1   URL     42 non-null     object
dtypes: object(2)
memory usage: 1008.0+ bytes

In [16]:
data_scraping.tail()

,Text,URL
17,[[SALAH] Jakarta tanggal 12-15 Februari Lockdown],https://turnbackhoax.id/2021/02/07/salah-jakar...
18,[[SALAH] “PSBB jawa & Bali di perpanjang sampa...,https://turnbackhoax.id/2021/02/06/salah-psbb-...
19,[[SALAH] Jawa-Bali Lockdown pada Tanggal 11-25...,https://turnbackhoax.id/2021/01/09/salah-jawa-...
0,[Kompilasi Post Periksa Fakta MAFINDO Berkaita...,https://turnbackhoax.id/2020/02/06/kompilasi-p...
1,[[SALAH] “Arief Budiman : Saya Siap Di Kutuk M...,https://turnbackhoax.id/2020/01/13/salah-arief...

In [17]:
# Menjadikan format DataFrame menjadi .csv
data_scraping.to_csv("Data Scraping (TurnBackHoax) - PPKM.csv", index=False)